streamlit==1.34.0
spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
sentence-transformers==2.2.2
scikit-learn==1.4.2
pymupdf==1.23.26
docx2txt==0.9
fpdf==1.7.2
yagmail==0.15.293
python-dotenv==1.0.1
SpeechRecognition==3.10.1
sounddevice==0.4.6
soundfile==0.12.1
pandas==2.2.2
# sqlalchemy==2.0.29      # only if you use this in your code
transformers==4.29.2
huggingface_hub==0.25.2
sentence-transformers==2.2.2
